@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

ul,
li {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #333;
}

a {
    color: #0f6bbb;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100vh;
}

@media screen and (min-width: 1280px) {
    #maincontent,
    header {
        max-width: 90%;
        margin: 0 auto;
    }
}

#footer {
    color: #444;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    background-color: #252831;
    text-align: center;
}

nav h1 {
    margin: 0 auto;
    padding: 1em;
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
}

nav h1 a {
    color: #fff;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    font-family: 'Bree Serif', serif;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #fff;
    font-size: 16px;
    margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    /* width: 100%; */
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw)); */
}

.filter-options h2 {
    color: white;
    font-weight: normal;
    line-height: 1;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
    letter-spacing: 3px;
}

.filter-options label {
    color: #fff;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    height: 48px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#restaurants-list li {
    background-color: #fff;
    font-family: 'Bree Serif', serif;
    margin: 15px;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}

@media screen and (min-width:700px) {
    #restaurants-list li {
        width: calc((80% - 15px) / 2);
    }
}

@media screen and (min-width:1020px) {
    #restaurants-list li {
        width: 270px;
    }
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
}

#restaurants-list li h1 {
    color: #0f6bbb;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 15px;
}

#restaurants-list li a {
    background-color: #0f6bbb;
    color: #fff;
    display: inline-block;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .56px;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
    position: relative;
}

#restaurants-list li a::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -2px;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
}

/* ====================== Restaurant Details ====================== */

#restaurant-container {
    border-top: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#restaurant-name {
    color: #0f6bbb;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    max-width: 100%;
}

#restaurant-address {
    font-size: 16px;
    margin: 10px 0px;
    text-align: center;
}

#restaurant-cuisine {
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
}

.restaurant-details {
    padding: 0 10px;
    width: 100%;
}

#restaurant-hours {
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .restaurant-details {
        width: calc((90% - 15px) / 2);
    }
}

#restaurant-hours th,
#restaurant-hours td {
    padding: 0.5em;
}

#restaurant-hours th {
    color: #fff;
    font-weight: 300;
    background-color: #78909C;
}

#restaurant-hours tr:nth-child(odd) td {
    background-color: #fff;
}

#restaurant-hours tr:nth-child(even) td {
    background-color: #eceff1;
}

#restaurant-hours td.winner {
    font-weight: bold;
}


#reviews-container h2, #restaurant-container h1 {
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    /* margin: 0 0 20px; */
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    width: 100%;
}

#reviews-list {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    #reviews-list li{
        width: calc((80% - 15px) / 2);
    }
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    text-align: center;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
}

.reviewer-name {
  font-size: 1.5em;
  color: #0f6bbb;
  font-family: 'Roboto Slab', serif;
  /* font-size: 16px; */
}

.rating-stars {
  color: #0f6bbb;
}