body,
td,
th,
p,
ul,
ol,
li {
    font: 16px/1.5 "Roboto", serif;
    color: #333;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    font-family: "Roboto", serif;
}

a {
    color: #0f6bbb;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

nav h1 a:hover,
nav h1 a:focus {
    color: #fff;
    text-decoration: none;
    outline: #fff auto 5px;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bree Serif", serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100vh;
}

@media screen and (min-width: 1280px) {
    #maincontent,
    header {
        max-width: 90%;
        margin: 0 auto;
    }
}

#footer {
    color: #444;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}
