
/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#restaurants-list li {
    background-color: #fff;
    font-family: "Bree Serif", serif;
    margin: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}

@media screen and (min-width:700px) {
    #restaurants-list li {
        width: calc((80% - 15px) / 2);
    }
}

@media screen and (min-width:1020px) {
    #restaurants-list li {
        width: 270px;
    }
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
}

#restaurants-list li h3 {
    color: #0f6bbb;
    font: 16px/1.3 "Roboto", serif;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 15px;
}

#restaurants-list li a {
    background-color: #0f6bbb;
    color: #fff;
    display: inline-block;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .56px;
    line-height: 36px;
    font: 16px "Roboto", sans-serif;
    position: relative;
    width: calc(100% - 60px);
}

#restaurants-list li a::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -2px;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
}